* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --roboto-font: "Roboto Mono", monospace;;

}

body {
  margin: 0;
  padding: 0;
  font-family: var(--roboto-font);
}

header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e0e0e0;
  font-size: 20px;
}

.logo {
  display: flex;
  gap: 150px;
  margin-left: 100px;
  align-items: center;
}

nav {
  display: flex;
  list-style: none;
  gap: 15px;
}

.promo-banner {
  text-align: center;
  background-color: #444;
  color: #fff;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin-top: 10px;
  padding: 10px 20px;
  align-items: center;
}

.contact-info span {
  margin-right: 15px;
}

.contact-info a {
  text-decoration: none;
  color: #161C24;
}

.contacts {
  display: flex;
  margin-right: 100px;

  img {
      margin-right: 5px;
  }
}

main {
  padding: 30px 80px;
}

.breadcrumb {
  margin-bottom: 50px;
  display: flex;

  p {
      color: #161C24;
  }

  .catalog {
      color: gray;
  }
}

.electronic-items {
  font-weight: 600;
}

.filter-sort-container {
  display: block;
  margin-bottom: 100px;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reload-filter {
  margin-top: 32px;
  margin-bottom: 32px;
  border: 1px solid #ADD7FF;
  width: 300px;
  padding: 10px 25px; 
  text-align: center;

  p {
      font-size: 16px;
      font-family: sans-serif;
      font-weight: 200;
  }
}

.filter {
  max-width: 300px;
  margin-right: 20px;
  padding: 24px;
  border: 1px solid #C4CDD5;
  border-radius: 2px;

  h2 {
      margin-bottom: 24px;
      font-size: 22px;
  }
}

.price-filter{
  display: block;
  margin-bottom: 16px;


  #price {
      margin-bottom: 30px;
      font-size: 16px;
  }

}

.price-input {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid gray;
  padding-bottom: 16px;


  #min-price {
      width: 100px;
      height: 35px;
      text-align: center;
      border: 1px solid gray;
  }
  
  #max-price {
      width: 100px;
      height: 35px;
      text-align: center;
      border: 1px solid gray;
  }
}

#product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(15rem, 1fr));
  width: 100%;
  height: auto;
}

.products {
  flex: 3;
}
/* <i class="fa-solid fa-chevron-down"></i> */

.other-filters {
  display: table-caption;
  width: 208px;
}

.other-filters > select {
  border: none;
  padding: 16px 0;
}

.fa-solid {
  background-color: white;
  padding: 5px;
  color: #E44286;
}

.category-filter {
  margin-bottom: 20px;
  text-align: right;

  #category {
      border: 1px solid #C4CDD5;
      padding: 10px 20px;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  width: 250px;
  position: relative;
  border: solid 1px #f6f6f6;
}

.main-info {
  background-color: #f6f6f6;
  padding: 10px;
}

.status {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.out-of-stock {
  color: gray;
  font-weight: 300;
  padding-left: 10px;
  font-size: 14px;
}

.sale {
  background-color: white;
  color: #161C24;
  padding: 6px 9px;
  right: 10%;
  position: absolute;
  font-size: 12px;
}

.gift {
  display: flex;
  position: absolute;
  top: 45px;
  background-color: white;
  color: black;
  padding: 5px;
  font-weight: 300;

  .prize {
      font-size: 12px;
      margin-left: 5px;
  }
}

.image img {
  width: 100%;
  height: auto;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.star {
  color: orange;
}

.no.star {
  color: #ddd;
}

.reviews {
  margin-left: 5px;
  color: #777;
}

.title {
  font-size: 16px;
  margin: 10px 0;
  color: #454F5B;
}

.price {
  display: flex;
  align-items: center;
}

.new-price {
  font-size: 18px;
  font-weight: 500;
  color: #161C24;
}

.old-price {
  margin-left: 10px;
  font-size: 14px;
  color: #777;
  text-decoration: line-through;
}

.description {
  background-color: white;
  padding: 10px;
}

.swiper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.recent-products {
  display: flex;
  gap: 30px;
  margin-bottom: 96px;
}

.info-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  
  p {
      font-size: 18px;
  }

  .equal-info {
      display: flex;
      gap: 20px;
      flex-direction: column;
  }

}

